*{
    box-sizing: border-box;
}

body{
    font-family: "Noto Sans", sans-serif;
}

@font-face {
	font-family: 'Bebas Neue Cyrillic';
	src: url('../fonts/bebas_neue_cyrillic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/bebas_neue_cyrillic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/bebas_neue_cyrillic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/bebas_neue_cyrillic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/bebas_neue_cyrillic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/bebas_neue_cyrillic.svg#bebas_neue_cyrillic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/noto_sans.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/noto_sans.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/noto_sans.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/noto_sans.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/noto_sans.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/noto_sans.svg#noto_sans') format('svg'); /* Chrome < 4, Legacy iOS */
}

.container{
    max-width: 1440px;
    margin: auto;
}

.header{
    min-height: 100vh;
}

.header-image{
    background-image: url("../img/header-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.header-image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(41, 45, 51, 0.6);
    width: 100%;
    height: 100%;    
    z-index: 0;
}

.navbar {
    display: flex;
    align-items: center;
    color: #fff;
    height: 94px;
    position: relative;
    border-bottom: 1px solid rgba(235, 235, 240, 0.2);
}

.header-logo{
    padding: 25px 50px;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
    height: 100%;
}

.header-nav{
    display: flex;
    flex-basis: 100%; /*Дать элементу заполнить все свободное пространство*/
    list-style: none;
    padding: 0 50px;
    margin: 0;
}

.header-nav-link{
    text-decoration: none;
    font-size: 16px;
    margin-right: 50px; /*Отодвинуть ссылки друг от друга*/
    color: inherit; /*Взять цвет текста для ссылок у родительского элемента .navbar*/
}

.header-phone{
    flex-shrink: 0; /*Не сжимать номер телефона*/
    display: flex;
    align-items:center;
    gap: 10px; /*Отступ*/ 
    margin-right: 50px;
}

.header-phone-link{
    text-decoration: none;
    font-size: 16px;
    color: inherit;
}

.button{
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    color: #fff;
    background: rgb(92, 142, 230);
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 25px 60px 25px 60px;
    gap: 10px;
    border: none;
    flex-shrink: 0; /*Не переносить текст  кнопке*/
    cursor: pointer;
}

.header-button{
    height: 100%;
}

.seporator{
    width: 150px;
    height: 2px;
    background: rgb(92, 142, 230);
}

.header-content{
    padding-top: 150px;
    position: relative;
    z-index: 1;
    color: #fff;
}

.header-title{
    /* max-width: 1080px; */
    font-family: 'Bebas Neue Cyrillic';
    font-weight: 400;
    font-size: 80px;
    line-height: 120%;
    margin: 30px 0;
}

.header-text{
    max-width: 720px;
    font-family: 'Noto Sans';
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 50px;
}

.header-features{
    display: flex;
    min-height: 168px;
    padding: 0;
    margin-top: 100px;
    list-style: none;
    color:#fff;
    position: relative;
}

.header-features-item{
    padding: 30px 50px;
    border: 1px solid rgba(235, 235, 240, 0.2);
    font-family: Noto Sans;
}

.header-features-item:not(:last-child){
    border-right: none;
}

.header-features-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}

.section{
    margin-top: 150px;
    margin-bottom: 150px;
}

.section-title{
    font-family: 'Bebas Neue Cyrillic';
    font-size: 68px;
    font-weight: 400;
    line-height: 120%;
    color: rgb(41, 45, 51);
    /* margin-top: 30px;
    margin-bottom: 10px; */
}

.steps{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 30px;
}

.steps-item{
   max-width: 330px;
}

.steps-num{
    font-family: 'Bebas Neue Cyrillic';
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: rgb(92, 142, 230);
    display: flex;
    align-items: center;
}

.steps-num::after{
    content: "";
    height: 1px;
    background: rgb(235, 235, 240);
    width: 100%;
    margin-left: 30px;
}

.steps-title{
    color: rgb(41, 45, 51);
    font-family: 'Noto Sans';
    font-size: 28px;
    font-weight: 400;
    line-height: 160%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.steps-text{
    color: rgb(130, 138, 153);
    font-family: 'Noto Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.steps-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(92, 142, 230);
    font-family: 'Noto Sans';
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
}

.steps-link::before{
    content: "";
    height: 1px;
    background: rgb(92, 142, 230);
    width: 40px;
    margin-right: 20px;
}