*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-family: "Noto Sans", sans-serif;
}

@font-face {
	font-family: 'Bebas';
	src: url('../fonts/bebas_neue_cyrillic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/bebas_neue_cyrillic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/bebas_neue_cyrillic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/bebas_neue_cyrillic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/bebas_neue_cyrillic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/bebas_neue_cyrillic.svg#bebas_neue_cyrillic') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/noto_sans.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/noto_sans.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/noto_sans.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/noto_sans.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/noto_sans.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/noto_sans.svg#noto_sans') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Bebas Regular';
	src: url('../fonts/bebas_neue_regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/bebas_neue_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/bebas_neue_regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/bebas_neue_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/bebas_neue_regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/bebas_neue_regular.svg#bebas_neue_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

.container{
    max-width: 90rem;
    margin: auto;
    height: 48.875rem; /*PP*/
}

.header{
    padding: 5.875rem;
    min-height: 100vh;
}

.header-image{
    background-image: url("../img/header-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.header-image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(41, 45, 51, 0.6);
    width: 100%;
    height: 100%;    
    z-index: 0;
}

.navbar {
    display: flex;
    align-items: center;
    color: #fff;
    height: 5.875rem;
    position: fixed;
    z-index: 2;
    width: 100%;
    border-bottom: 1px solid rgba(235, 235, 240, 0.2);
    transition: background-color 0.3s, height 0.3s;
}

.navbar-light {
    background-color: #fff;
    color: #292d33;
    height: 4.625rem;
}

.navbar-light .header-logo-path{
    fill:#292d33;
}

.header-logo{
    display: flex;
    align-items: center;
    padding: 0px 3.125rem;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
    height: 100%;
}

.header-nav{
    display: flex;
    flex-basis: 100%; /*Дать элементу заполнить все свободное пространство*/
    list-style: none;
    /* padding: 0 50px; */
    padding: 0 3.25rem; /*Pixel Perfect*/
    letter-spacing: 0.1px;
    margin: 0;
}

.header-nav-link{
    text-decoration: none;
    font-size: 1rem;
    margin-right: 3.125rem; /*Отодвинуть ссылки друг от друга*/
    color: inherit; /*Взять цвет текста для ссылок у родительского элемента .navbar*/
}

.header-phone{
    flex-shrink: 0; /*Не сжимать номер телефона*/
    display: flex;
    align-items:center;
    gap: .625rem; /*Отступ*/ 
    margin-right: 3.125rem;
}

.header-phone-link{
    text-decoration: none;
    font-size: 1rem;
    color: inherit;
}

.button{
    font-size: 1rem;
    font-weight: 600;
    line-height: 160%;
    color: #fff;
    background: rgb(92, 142, 230);
    display: flex;
    align-items:center;
    justify-content: center;
    /* padding: 25px 60px 25px 60px; */
    gap: .625rem;
    border: none;
    flex-shrink: 0; /*Не переносить текст  кнопке*/
    cursor: pointer;
}

.header-button{
    flex-shrink: 0;
    height: 100%;
    /* padding: 25px 60px 25px 60px; */
    padding: 1.5rem 2.375rem 1.3125rem 3.125rem /*pixel Perfect*/
    
}

.header-button-title{
    padding: 23px 62px 26px 60px;
    margin: -37px 8px;
}

.seporator{
    width: 9.375rem;
    height: 2px;
    background: rgb(92, 142, 230);
    margin: 0 7px;
}

.header-content{
    padding-top: 9.375rem;
    position: relative;
    z-index: 1;
    color: #fff;
}

.header-title{
    max-width: 67.5rem;
    font-family: 'Bebas Regular';
    font-weight: 400;
    font-size: 5rem;
    line-height: 120%;
    /* margin: 30px 0; */
    margin: 1.3125rem .5rem /*Pixel perfect*/
}

.header-text{
    max-width: 45rem;
    font-family: 'Noto Sans';
    /* font-optical-sizing: auto; */
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 160%;
    margin-bottom: 4.3125rem;
    padding: 1.1875rem .625rem;
    letter-spacing: 0.2px;
    word-spacing: -1px 
}

.header-features{
    display: flex;
    min-height: 10.5rem;
    margin-top: 8.625rem; /*PP*/
    padding: 0;
    /* margin-top: 100px; */
    list-style: none;
    color:#fff;
    position: relative;
}

.header-features-item{
    /* padding: 30px 53px; */
    padding: 1.875rem 3.125rem; /*PP*/
    border: 1px solid rgba(235, 235, 240, 0.2);
    font-family: 'Noto Sans';
    font-size: .875rem;
    font-weight: 400;
    line-height: 150%;
    max-width: 18.0625rem;/*PP*/
}

.header-features-item:not(:last-child){
    border-right: none;
}

.item-time{
    margin-left: .5rem;
}

.item-control{
    max-width: 17.9375rem;
}

.item-speed{
    margin-right: -.5625rem;
}

.header-features-text{
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
}

.section{
    margin-top: 9.375rem;
    margin-bottom: 9.375rem;
}

.section-title{
    font-family: 'Bebas Regular';
    font-size: 3.75rem;
    font-weight: 400;
    line-height: 120%;
    color: rgb(41, 45, 51);
    margin: 1.4375rem .625rem;
}

.steps{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 1.875rem;
    padding: 2.0625rem 0px 0px .625rem;
}

.steps-item{
   max-width: 20.625rem;
}

.steps-num{
    font-family: 'Bebas Regular';
    font-weight: 400;
    font-size: 3rem;
    line-height: 120%;
    color: rgb(92, 142, 230);
    display: flex;
    align-items: center;
}

.steps-num::after{
    content: "";
    height: 1px;
    background: rgb(235, 235, 240);
    width: 100%;
    margin-left: 1.875rem;
}

.steps-title{
    color: rgb(41, 45, 51);
    font-family: 'Noto Sans';
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 160%;
    margin-top: 1.875rem;
    margin-bottom: .625rem;

}

.steps-text{
    color: rgb(130, 138, 153);
    font-family: 'Noto Sans';
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    margin-top: .625rem;
    margin-bottom: 1.25rem;
}

.steps-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(92, 142, 230);
    font-family: 'Noto Sans';
    font-size: 1rem;
    font-weight: 600;
    line-height: 160%;
}

.steps-link::before{
    content: "";
    height: 1px;
    background: rgb(92, 142, 230);
    width: 2.5rem;
    margin-right: 1.25rem;
}

@media (max-width: 1800px) {
    html{
        font-size: 14px;
    }
}

@media (max-width: 1600px) {
    html{
        font-size: 12px;
    }
}

@media (max-width: 1400px) {
    html{
        font-size: 10px;
    }
}